

<div class="instagram-feed__container page-width">
  {% for block in section.blocks %}
    {% case block.type %}
      {% when '@app' %}
        {% render block %}
      {% else %}
        
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Instagram Feed",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Instagram Feed",
      "category": "Social media"
    }
  ]
}
{% endschema %}