<style>
  #shopify-section-{{ section.id }} {
    padding-bottom: 4rem;
  }
  #shopify-section-{{ section.id }} * {
    box-sizing: border-box;
  }
  .instagram-feed__heading {
    text-align: center;
    margin: 3rem 0;
  }
  .instagram-feed__heading h3 {
    font-size: 3rem;
    margin-bottom: 0;
    color: rgb(var(--color-button));
  }

</style>

<div class="instagram-feed__container page-width">
  <div class="instagram-feed__heading">
    <h3>{{ section.settings.title }}</h3>
    <p>{{ section.settings.subtitle }}</p>
  </div>

  {% for block in section.blocks %}
    {% case block.type %}
      {% when '@app' %}
        {% render block %}
      {% else %}
        
    {% endcase %}
  {% endfor %}
</div>

{% schema %}
{
  "name": "Instagram Feed",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Instagram Feed"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle",
      "default": "Follow us on Instagram"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "Instagram Feed",
      "category": "Social media"
    }
  ]
}
{% endschema %}